html,body{background:@bg;}
.gutter{padding:@padding;}

.mixin-col{
     border:0px solid rgba(0,0,0,0);
     float:left;
     -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
     box-sizing:border-box;
     -moz-background-clip:padding-box !important;
     -webkit-background-clip:padding-box !important;
     background-clip:padding-box !important;
}
.gl-col{
     .mixin-col;
}

.mixin-span(@num, @gutter_pc, @gutter_px, @padding, @max_columns) {
    @one_col: (100% - (@gutter_pc * (@max_columns - 1))) / @max_columns;
    width:(@one_col * @num) + (@gutter_pc * (@num - 1));
    border-left-width:@gutter_px;
    margin-left:@gutter_pc;
}
.mixin-col_first{
    margin-left:0;
}
.generate-columns(@n, @i:1) when (@i =< @n){
  .gl-col_@{i}{
    .mixin-span(@i, @gutter_pc, @gutter_px, @padding, @max_columns);
  }
  .generate-columns(@n,(@i+1));
}


@media screen and (min-width: 0px) and (max-width: 478px) {
  .container{width:95%;margin:0 auto;}
  .gl-col {
      margin-left:1%;
      padding:0 0.5%;
      width:100%;
  }

}

@media screen and (min-width: 479px) and (max-width: 779px){
  @max_columns: @columns;
  @padding: @tabletpadding;
  @gutter_px: @tabletgutter;
  @gutter_pc: @tabletgutter;
  .container{width:500px;margin:0 auto;}
  .gl-col{
      margin-left:@gutter_px;
      padding:@padding;
  }
  .gl-row .gl-col:first-child{
      .mixin-col_first;
  }
  .generate-columns(@max_columns);
}

@media screen and (min-width: 780px) and (max-width: 959px){
  .container{width:790px;margin:0 auto;}
    @max_columns: @columns;
    @padding: @largepadding;
    @gutter_px: @largegutter;
    @gutter_pc: @largegutter;
    .gl-col{
        margin-left:@gutter_px;
        padding:@padding;
    }
    .gl-row .gl-col:first-child{
        .mixin-col_first;
    }
    .generate-columns(@max_columns);
}

@media screen and (min-width: 960px) and (max-width: 1199px){
  @max_columns: @columns;
  @padding: @desktoppadding;
  @gutter_px: @desktopgutter;
  @gutter_pc: @desktopgutter;
  .container{width:1000px;margin:0 auto;}
  .gl-col {
      margin-left:@gutter_px;
      padding:@padding;
  }
  .gl-row .gl-col:first-child{
      .mixin-col_first;
  }
  .generate-columns(@max_columns);
}

@media screen and (min-width: 1200px){
  @max_columns: @columns;
  @padding: @hirespadding;
  @gutter_px: @hiresgutter;
  @gutter_pc: @hiresgutter;
  .container{width:1200px;margin:0 auto;}
  .gl-col {
      margin-left:@gutter_px;
      padding:@padding;
  }
  .gl-row .gl-col:first-child{
      .mixin-col_first;
  }
  .generate-columns(@max_columns);
}
