/*
  Source LESS for Glacier. All other imported LESS styles are available separately.
*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700,600);

/* background settings */
@bg:#ecf0f1;
@scolor:#8e44ad;

@primaryColor:rgba(142, 68, 173,1.0);
@secondaryColor:rgba(155, 89, 182,1.0);
@tertiaryColor:rgba(52, 73, 94,1.0);

/* typography */
@dfont:'Open Sans',sans-serif;
@dsize:100%;
@dcolor:#444;

@hfont:@dfont;
@hcolor:@tertiaryColor;
@h1size:60px;
  @h1margin:9px;
@h2size:48px;
  @h2margin:11px;
@h3size:36px;
  @h3margin:15px;
@h4size:24px;
  @h4margin:22px;
@h5size:21px;
  @h5margin:25px;
@h6size:18px;
  @h6margin:30px;

@blockquotefont:@dfont;
@blockquotepadding:0 20%;
@blockquotefontsize:20px;
@blockquotecolor:#95a5a6;
@blockquoteweight:600;


/* grid settings */
@columns:12;
/* 479-779 */
@tabletpadding: 0 0.5%;
@tabletgutter: 1%;
/* 780-959 */
@largepadding: 0 0.5%;
@largegutter: 1%;
/* 960-1199 */
@desktoppadding: 0 0.5%;
@desktopgutter: 1%;
/* 1200+ */
@hirespadding: 0 0.5%;
@hiresgutter: 1%;


/* layout settings */
@padding:20px;


/* input settings */
@inputfont:80% solid @dfont;
@inputpadding:3px 5px;
@inputborder:1px solid #bdc3c7;
@inputborderradius:4px;
@labelfont:12px @dfont;

@buttoncolor:rgba(236, 240, 241,1.0);
@buttonbackground:@primaryColor;
@buttonborder:1px solid @secondaryColor;

/* other settings */
.anim{transition:.1s linear all;}

@import "reset.less";
@import "grid.less";
@import "colors.less";
@import "typography.less";
@import "icons.less";
@import "elements.less";
@import "responsive.less";
@import "project.less";
